{% extends 'base.html' %}


{% block content %}
{% if not request.user.is_authenticated %}

    <h1>Login</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <div style="margin-bottom: 10px;
    margin-top: 10px">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style=" margin-bottom: 10px;">
            <button type="submit">Login</button>
        </div>
    </form>
    </div>
{% else %}
    <p>You are already logged in as {{ request.user }} <a href="/logout/">Logout</a></p>
{% endif %}
{% endblock %}